body{
  background-image: url(http://emmettgarber.github.io/imgs/wood-floor-1170743_1920.jpg);
  background-color: #6E4A3B;
}
#ruby{
  background-color: #CBC8CC;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  padding-bottom: 1em;
}
#js{
  background-color: #CBC8CC;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  float: right;
  padding-bottom: 2em;
  margin-bottom: 3em;
}
#title{
  background-color: #CBC8CC;
  width: 40%;
  text-align: center;
  margin-left: 30%;
}
h4{
  text-align: center;
}
#note{
  background-color: #CBC8CC;
  width: 40%;
  margin-left: 30%;
  clear: both;
  margin-top: 3em;
}
p{
  width: 98%;
  text-align: center;
}
