body{
  background-image: url(http://emmettgarber.github.io/imgs/wood-floor-1170743_1920.jpg);
  background-color: #6E4A3B;
}
p{
  margin-left: 30%;
  Margin-right: 0%;
  width: 60%;
  background-color: #CBC8CC;
  display: block;
  margin-bottom: 0px;
}
h1{
  display: inline-block;
  margin-left: 30%;
  margin-right: 0%;
  color: #F5E6F7;
  height: 5em;
  width: 25em;
}
#photo {
  display: inline-block;
  height: 7em;
  width: 12em;
  float: right;
  margin-top: -10em;
}
h2{
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 0%;
  color: #F5E6F7;
}
h3{
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 00%;
  color: #F5E6F7;
}
h4{
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 0%;
  color: #F5E6F7;
}
footer a{
  display: block;
  background-color: transparent;
  color: #F5E6F7;
}
section a{
  display: block;
  background-color: transparent;
  color: #F5E6F7;
}
#example {
  display: block;
  position: relative;
  height: 3.5em;
  width: 12em;
  float: none;
  margin-bottom: 4em;
  clear: both;
}